form{

	font-family: 'Noto Serif SC', serif;
	color: rgb(10,10,20);
	transition: all 0.3s;
	color:white;
}

label{
	font-size:0.9rem;
}

input{
	background: rgba(230,230,230,0.8);
	outline:none;
	box-shadow:1px 1px 3px rgba(10,10,20,0.5),
	3px 3px 5px rgba(10,10,20,0.2);
	border:none;
	transition: all 0.3s;

}

input:hover{
	background: rgba(250,250,250,0.9);
}

textarea{
	background: rgba(230,230,230,0.8);
	box-shadow:1px 1px 3px rgba(10,10,20,0.5),
	3px 3px 5px rgba(10,10,20,0.2);
	transition: all 0.3s;

}

textarea:hover{
	background: rgba(250,250,250,0.9);
}
.form-control{
	background:rgba(250,250,250,0.8);
	border-radius:1px;
	outline:none;
	border:none;
}

.btn{
	background:rgba(250,250,250,0.8);
	border-radius:1px;
	outline:none;
	border:none;
}

#main-content #heading{
	font-size: 2.5rem;
	margin-bottom: 10px;

}

div .container-fluid #main-content {
	margin-top:5px;
}
